.padding {
    padding: 5rem 0;
}

.padding-small {
    padding: 2rem 0;
}

.no-padding {
    padding: 0 !important;
}

.text-center {
    text-align: center;
}

.orange {
    color: $orange
}

.blue {
    color: $blue
}

.green {
    color: $green
}

.yellow {
    color: $yellow
}